@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'ManropeSemiBold';
  /* color: #EFEDE8; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  font-family: 'ManropeSemiBold';
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  cursor: pointer;
  border: none;
}
